<div class="titulo">Datos de hoy</div>
<div class="cajon">
    <div class="caja">
        <img  class="loading" src="../../../assets/loading/Dual.gif" *ngIf="bandera==false">
        <div class="datos"> {{datos.today_new_recovered | number}}</div>
        <div>Recuperados</div>
    </div>
    <div class="caja">
        <img  class="loading" src="../../../assets/loading/Dual.gif" *ngIf="bandera==false">
        <div class="datos">{{datos.today_new_confirmed | number}}</div>
        <div>Infectados</div>
    </div>
    <div class="caja">
        <img  class="loading" src="../../../assets/loading/Dual.gif" *ngIf="bandera==false">
        <div class="datos">{{datos.today_new_deaths | number}}</div>
        <div>Muertos</div>
    </div>
</div>
