.container{
    display:flex;
    justify-content: space-between;
    height: 100vh;
}
.sideBar{
    
    width: 250px;
    background-color: #333;
    padding: 0.7em;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu{
    max-width: 100%;
    border:1px solid black;
    padding: 1em;
    margin-bottom: 0.5em;
}
.menu:hover, .menuactivo{
    border:1px solid black;
    background-color: white;
    color:black;
}
.centro{
    width: calc(100% - 250px);
    /*background-color: red;   */
}